* {
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.top-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#yelpsearch {
    display: block;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    border: 1px solid black;
    flex-grow: 3;
}

.user-info {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

.user-name {
    text-align: center;
}

.sign-in-button {
    padding: 0.5em;
    margin: 0.5em;
    border: none;
    background: none;
    text-decoration: underline;
}

.result-set {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
}

.business-item {
    height: 100%;
    width: 100%;
    max-height: 200px;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0.5em;
    border: 3px solid black;
    border-radius: 25px;
    margin: 0.5em;
}

.business-item:hover {
    border: 3px solid lightblue;
}

.business-item-image {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    height: 100%;
    max-width: 100%;
    padding: 0.5em;
}

.business-item-name {
    grid-row: 1 / 2;
    grid-column : 2 / 3;
}

.business-item-info {
    grid-row: 2 / 3;
    grid-column : 2 / 3;
}

.business-item-users {
    grid-row: 3 / 4;
    grid-column : 2 / 3;
}

.going-button {
    border: 2px solid lightblue;
    border-radius: 5px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0.25em;
    background-color: lightcyan;
}

.going-button:active {
    padding-top: 0.66em;
    padding-bottom: 0.33em;
    box-shadow: inset 4px 4px 10px #36A;
}

.already-going-button {
    border: 2px solid grey;
    border-radius: 5px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0.25em;
    background-color: lightgrey; 
}